
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif ;
}
body{
    background:hsl(212, 45%, 89%) ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.box{
    display: flex;
    flex-direction:column ;
    width: 40%;
    height:auto ;
    background: hsl(0, 0%, 100%) ;
    padding: 2%;
    border-radius: 15px;
    text-align: center;
}
.qr{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}
h3{
    font-weight: 700;
    margin-bottom: 20px;
    color: hsl(218, 44%, 22%);
}
p{
    font-weight: 400;
    margin-bottom: 20px;
    color: hsl(220, 15%, 55%);
}